.mavenloan-btn {
  display: block;
  cursor: pointer;
  margin: 10px 0;
  text-align: center;
  color: #fcfcfc !important;
  background: #21265E;
  border: none !important;
  outline: none !important;
  border-radius: 3px;
  padding: 6px 0;  
}
.mavenloan-btn:hover,
.mavenloan-btn:focus {
  background: rgb(36, 43, 117);
}
.mavenloan-btn:active {
  background: rgb(39, 49, 160);
}

.mavenloan-btn.mavenloan-zillow-main {
  margin: 10px;
}
.mavenloan-btn.mavenloan-zillow-big {
  margin: 10px 0 0;
  padding: 10px 0;
}
.mavenloan-btn.mavenloan-realtor-main {
  margin: 10px;
}
.mavenloan-btn.mavenloan-realtor-big {
  margin: 10px 0 0;
  padding: 10px 0;
}
.mavenloan-btn.mavenloan-trulia {
  margin: 0;
}
.mavenloan-btn.mavenloan-trulia-big {
  padding: 8px 0;
  font-size: 1.1em;
}
.mavenloan-btn.mavenloan-redfin-main {
  border: 1px solid #21265E !important;
  position: absolute;
  font-weight: bold;
  left: 10px;
  top: -4em;
  padding: 6px 10px;
}
.mavenloan-btn.mavenloan-redfin-big {
  font-size: 1.1em;
  width: 300px;
}