.rapidapprover-btn {
  display: block;
  cursor: pointer;
  margin: 10px 0;
  text-align: center;
  color: #fcfcfc !important;
  background: #21265E;
  border: none !important;
  outline: none !important;
  border-radius: 4px;
  padding: 5px 0;
  text-decoration: none !important;
  font-size: 14px;
  font-family: Tahoma, sans-serif;
}

.rapidapprover-btn:hover,
.rapidapprover-btn:focus {
  background: rgb(36, 43, 117);
}

.rapidapprover-btn:active {
  background: rgb(39, 49, 160);
}



.rapidapprover-btn.rapidapprover-zillow-main {
  margin: 10px;
}

.rapidapprover-btn.rapidapprover-zillow-big {
  margin: 20px 0 0;
  padding: 10px 0;
}



.rapidapprover-btn.rapidapprover-realtor-main {
  margin: 10px;
}

.rapidapprover-btn.rapidapprover-realtor-big {
  margin: 10px 0 0;
  padding: 10px 0 !important;
}



.rapidapprover-btn.rapidapprover-trulia {
  margin: 0;
}

.rapidapprover-btn.rapidapprover-trulia-big {
  padding: 8px 0;
  font-size: 1.1em;
}



.rapidapprover-btn.rapidapprover-redfin-main {
  margin: 0 15px 10px 15px;
}

.rapidapprover-btn.rapidapprover-redfin-big {
  padding: 10px;
  font-size: 1.1em;
  margin-top: 25px !important;
}

/* redfin.com */
.HomeViews>.PhotosView .HomeCardContainer>*,
.HomeViews>.PhotosView .HomeCardContainer .v2 {
  height: auto;
  min-height: 360px !important;
}

/* redfin.ca */
.similarHomecardHeight.PhotosView .HomeCardContainer>*,
.similarHomecardHeight.PhotosView .HomeCardContainer>.HomeCard>.v2 {
  height: auto !important;
  min-height: 360px !important;
}

/* realtor */
ul[data-testid="property-list-container"] li[data-testid="result-card"] div[data-testid="property-card"] {
  padding-bottom: 1px !important;
}

div[data-testid="property-card"] .pc-bottom-left.jsx-2191194021 {
  bottom: 185px !important;
}
